@font-face {
  font-family: "Comic Sans MS";
  src: url("ComicSansMS.ttf");
}

html {
  background-color: rgba(40, 40, 60);
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 10px solid rgba(30, 30, 30, 0.6);
  display: block;
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin-bottom: 100px;
}

* {
  color: rgba(250, 250, 250);
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

button,
select,
option,
input {
  color: rgba(5, 5, 5);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider {
      background-color: #2196F3;
    }

    &:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

.button {
  background-color: rgba(240, 240, 240);
  border: 2px solid gray;
  min-width: 80px;
  min-height: 30px;
  font-size: 15px;

  &:hover {
    background-color: rgba(220, 220, 220);
  }

  &:active {
    background-color: rgba(200, 200, 200);
  }

  &:focus {
    outline: none;
  }
}

.lightmode_contain {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 160px;

  .label {
    margin-top: 8px;
    position: absolute;
    font-size: 18px;
  }

  .switch {
    position: absolute;
    right: 0px;
  }
}

#crashBtn {
  position: absolute;
  right: 20px;
  top: 80px;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#links {
  .link {
    padding: 5px;
    font-size: 18px;
    margin: -5px 0;

    a {
      padding: 5px;
      border-radius: 5px;
      background-color: #0002;
    }

    .icon_img {
      @img-size: 30px;
      width: @img-size;
      height: @img-size;
      margin-bottom: -5px;
      margin-right: 5px;
    }

    &.noImage {
      margin-top: 8px;
    }
  }
}

.download {
  font-size: 30px;
}

footer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 100px;
  backdrop-filter: blur(5px);
  background-color: #111A;
}