@font-face {
  font-family: "Comic Sans MS";
  src: url("../source/font/ComicSansMS.ttf");
}
html {
  background-color: #202030;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 10px solid #10101040;
  display: block;
  box-sizing: border-box;
}
body {
  padding: 10px;
  margin-bottom: 100px;
}
* {
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}
code {
  font-family: 'Courier New', Courier, monospace;
}
button,
select,
option,
input {
  color: #050505;
}
button {
  cursor: pointer;
}
.top header {
  font-size: 40px;
  font-weight: 600;
}
.top h1 {
  font-size: 25px;
  font-weight: 500;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #2196F3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FBFBFB;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
.button {
  background-color: #f0f0f0;
  border: 2px solid gray;
  min-width: 80px;
  min-height: 30px;
  font-size: 15px;
}
.button:hover {
  background-color: #dcdcdc;
}
.button:active {
  background-color: #c8c8c8;
}
.button:focus {
  outline: none;
}
.lightmode_contain {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 160px;
}
.lightmode_contain .label {
  margin-top: 8px;
  position: absolute;
  font-size: 18px;
}
.lightmode_contain .switch {
  position: absolute;
  right: 0px;
}
#crashBtn {
  position: absolute;
  right: 20px;
  top: 80px;
}
.center {
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#links h2 {
  font-size: 30px;
}
#links .link {
  padding: 5px;
  font-size: 18px;
  margin: -5px 0;
}
#links .link a {
  padding: 5px;
  border-radius: 5px;
  background-color: #0002;
}
#links .link .icon_img {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  margin-right: 5px;
}
#links .link.noImage {
  margin-top: 8px;
}
.download {
  font-size: 30px;
}
footer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 100px;
  backdrop-filter: blur(5px);
  background-color: #111A;
  box-shadow: 0 0 5px 5px #0002;
  cursor: pointer;
}
footer:hover {
  text-decoration: underline;
}
hr {
  margin-top: 20px;
}
