@import "default.css";
@font-face {
  font-family: "Comic Sans MS";
  src: url("../source/font/ComicSansMS.ttf");
}
html {
  display: block;
  margin: 0;
  width: 100%;
  min-height: 100%;
  padding: 0;
  border: 10px solid #10101040;
  box-sizing: border-box;
  background-color: #202030;
  background-image: linear-gradient(45deg, #1E1E2E 25%, transparent 25%), linear-gradient(-45deg, #1E1E2E 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #1E1E2E 75%), linear-gradient(-45deg, transparent 75%, #1E1E2E 75%);
  background-size: 80px 80px;
  background-position: 0 0, 0 40px, 40px -40px, -40px 0px;
}
html[lightmode=true] {
  background-color: #505085;
  background-image: none;
}
html[lightmode=true] * {
  font-family: "Comic Sans MS";
}
body {
  padding: 10px;
  margin-bottom: 100px;
}
* {
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}
.top header {
  font-size: 40px;
  font-weight: 600;
}
.top h1 {
  font-size: 25px;
  font-weight: 500;
}
.button {
  background-color: #f0f0f0;
  border: 2px solid gray;
  min-width: 80px;
  min-height: 30px;
  font-size: 15px;
}
.button:hover {
  background-color: #dcdcdc;
}
.button:active {
  background-color: #c8c8c8;
}
.button:focus {
  outline: none;
}
.lightmode_contain {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 160px;
}
.lightmode_contain .label {
  margin-top: 8px;
  position: absolute;
  font-size: 18px;
}
.lightmode_contain .switch {
  position: absolute;
  right: 0px;
}
#crashBtn {
  position: absolute;
  right: 20px;
  top: 80px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#links h2 {
  font-size: 30px;
  padding-left: 50px;
}
#links .content {
  column-count: 3;
  column-fill: auto;
  padding: 5px;
  font-size: 18px;
  margin-top: -20px;
}
#links .content .link {
  break-inside: avoid;
  margin: 5px 0;
}
#links .content .link a {
  padding: 5px;
  border-radius: 5px;
  background-color: #0004;
}
#links .content .link .icon_img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  margin-right: 5px;
}
#links .content .link.noImage {
  margin-top: 12px;
}
.download {
  font-size: 30px;
}
hr {
  margin-top: 20px;
}
