body {
  background-color: rgba(50, 50, 50);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(240, 240, 240);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  float: left;
}
table td, th {
  border: 2px solid rgba(40, 40, 40);
  text-align: left;
  padding: 4px;
  height: 10px;
  font-size: 18px;
}
body {
  background-color: rgba(50, 50, 50);
}
tbody:nth-child(even) {
  background-color: rgba(40, 40, 40);
}
input {
  color: black;
}
#output {
  float: none;
}
#link {
  display: none;
}